body {
    background: linear-gradient(45deg, rgb(153, 153, 153), rgb(56, 56, 56));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
}

.container {
    margin-top: 7rem;
    margin-bottom: 7em;
    padding: 20px;
    border-radius: 28px;
    border: 9px solid rgb(46, 46, 46);
    width: 500px;
    height: auto;
    background: linear-gradient(135deg, #5c5c5c, #2b2a2a);
}

.output {
    font-size: 46px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.1em;
    margin-bottom: 0.5em;
    margin-top: 0.8em;
    background-color: rgb(214, 214, 214);
}

.buttonsGrid {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.buttonsGrid button {
    font-size: 34px;
    font-weight: 700;
    width: 7rem;
    height: 6rem;
    border-radius: 20%;
    cursor: pointer;
    transition: transform 0.3ms ease;
}

.buttonsGrid button:hover{
    background-color: aliceblue;
}

.buttonsGrid button:active{
    transform: scale(0.95);
}

.operator {
    background-color: #FFCC00;
}

#calculate {
    background-color: #FFCC00;
}

.bottomBlock {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-right: 18px;
}

#backspace {
    flex: auto;
    border-radius: 20px;
    margin-left: 18px;
}

#clear {
    color: darkred;
}